<h3>Your Workouts:</h3> 

    <% @workouts.each do |w| %>
        <%= link_to w.name, workout_path(w) %> <br>
    <% end %>

<h4>Create Workout</h4>
    <%= link_to 'Create Workout', new_workout_path %>