<h3><%= @workout.name %></h3>
<% @workout.exercises.each do |e| %>
    <%= link_to e.name, exercise_path(e) %> <br>
<% end %>

<%= link_to 'Edit this workout', edit_workout_path(@workout) %> <br>
<%= link_to 'Delete this workout', workout_path(@workout), method: 'delete' %>



